<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, your flight has been booked!</h1>
    <div class="row">
      <div class="col-lg-4">
        <ul class="list-group">
          <li class="list-group-item"><h4>Passenger Details</h4></li>
          <li class="list-group-item"><span>Name:</span> <%= @passenger.name %></li>
          <li class="list-group-item"><span>Email:</span> <%= @passenger.email %></li>
          <li class="list-group-item"><span>Phone:</span> <%= @passenger.phone %></li>
          <li class="list-group-item"><span>Address:</span> <%= @passenger.address %></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="list-group">
          <li class="list-group-item"><h4>Flight Details</h4></li>
          <li class="list-group-item"> <%= @flight.airport.city.name %> to <%= @flight.destination.city.name %></li>
          <li class="list-group-item"><span>Arline:</span> <%= @flight.plane.airline.name %></li>
          <li class="list-group-item"><span>Price:</span> <%= number_to_currency(@flight.price, locale: :ng)  %></li>
          <li class="list-group-item"><span>Date:</span> <%= @flight.departure.strftime("%A") %></li>
          <li class="list-group-item"><span>Time:</span> <%= @flight.departure.strftime("%H:%M %Z") %></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="list-group">
          <li class="list-group-item"><h4>Booking Details</h4></li>
          <li class="list-group-item"><span>Ticket Code:</span> <%= @booking.code %></li>
          <li class="list-group-item"><span>Date Booked:</span> <%= @booking.created_at %></li>
          <li class="list-group-item"><span>Departure Date:</span> <%= @booking.created_at %></li>
        </ul>
      </div>
    </div>
    <p>
      You can log into your account on AirFly to make adjustments.
    </p>
  </body>
</html>
